html {
    font-size: 62.5%;
    direction: rtl;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}



.logo {
    width: 45px;
    position: absolute;
    top: 0.5;
}