.container-fullPage{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.container-center{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    a{
        text-decoration: none;
        width:100%;
        button{
            margin:1rem 0 0 0;
        }
    }
}

.container-inCenter{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    @media print{
        display: none;
    }
}

.container-center-right{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;

    .text-sub-title{
        align-self: center;
    }
}

.container-checkbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: break-word;

    .checkmark{
        content: " ✓",
        
    }

    .text-paragraph-right-bold{
        padding-right: 0.5rem; 
        overflow-wrap: break-word;
        width: 90%;
        padding-top: 1rem;
    }
}


.formcontainer{
    display:flex;
    flex-direction: column;
    width:100%;
    margin:10px 0;
}
.container-input{
    display: flex;
    border: black 1px solid;
    border-radius: 6px;
    // width: 85%;
    font-size: 18px;
    text-align: right;
    align-items: center;
    justify-items: center;
    padding: 1px 0.5rem;

    input{
        border: none;
    }

    input:disabled{
        background: none;
    }
}
.container-approved{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0E0E0;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    // font-size: 16px;
    margin-top: 0.5rem;
    padding:0 1rem;
    svg{
        width:2rem;
        height:2rem;
    }
}

@media (min-width:500px){
    .container-center{
        width: 30%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .container-center-right{
        width: 30%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .container-inCenter {
        width: 100%;
    }
}